<nav class="navbar navbar-expand-lg navbar-light bg-light">




    <div class="container">
        <a class="navbar-brand" href="#">AngelList Venture</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="justify-content-center div-center">


                <ul class="navbar-nav me-auto p-4 bg-primary mb-2 mb-lg-0">
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            For Investors
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Rolling Funds</a></li>
                            <li><a class="dropdown-item" href="#">Managed Funds</a></li>
                            <li><a class="dropdown-item" href="#">Syndicates</a></li>
                            <li><a class="dropdown-item" href="#">Rolling Funds Fees Breakdown</a></li>
                            <li><a class="dropdown-item" href="#">Demo Day Funds</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            For Fund Managers
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Rolling Funds</a></li>
                            <li><a class="dropdown-item" href="#">Venture Funds</a></li>
                            <li><a class="dropdown-item" href="#">Syndicates</a></li>
                            <li><a class="dropdown-item" href="#">Pricing</a></li>
                            <li><a class="dropdown-item" href="#">Rolling Funds Fees Calculator</a></li>
                            <li><a class="dropdown-item" href="#">Traditional Fund Fees Calculator</a></li>
                            <li><a class="dropdown-item" href="#">VC Fund Performance Calculator</a></li>
                            <li><a class="dropdown-item" href="#">Scout Funds</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            For Founders
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Roll Up Vehicles</a></li>
                            <li><a class="dropdown-item" href="#">Stack Incorporation</a></li>
                            <li><a class="dropdown-item" href="#">Stack Equity</a></li>
                            <li><a class="dropdown-item" href="#">Roll Up Vehicle Cost Comparison</a></li>
                            <li><a class="dropdown-item" href="#">Stack Equity Pricing</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Company
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">About Us</a></li>
                            <li><a class="dropdown-item" href="#">Careers</a></li>
                            <li><a class="dropdown-item" href="#">Blog</a></li>
                            <li><a class="dropdown-item" href="#">Education Center</a></li>
                            <li><a class="dropdown-item" href="#">Data Center</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link">Help</a>
                    </li>


                </ul>
            </div>
            <form class="d-flex">
                <button class="btn btn-outline-success m-2" type="submit">Log in</button>
                <button class="btn btn-primary m-2" type="submit"> Join </button>
            </form>

        </div>
    </div>
</nav>